[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/home/server/apps/url-shortener
ExecStart=/home/server/apps/url-shortener/url-shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/home/server/apps/url-shortener/config.env

[Install]
WantedBy=multi-user.target